/*設定網頁背景顏色*/
body {background: #F9DD9C;}
.wrap
{
    width: 900px;
    margin: 0 auto;
}
.header
{
    height: 900px;
}

.body
{
    position: relative; /*使容器內元素能夠乖乖待在裡面*/
    height: 800px;
}

.footer
{
    height: 100px;
}


/*圖片容器*/
.slider_container div 
{
    /*設定圖片容器大小*/
    width: 100%;
    height: 720px;
    margin: 0 auto;

    /*設定圖片位置*/
    position: absolute;
    top: 0;
    left: 0;

    /*設定不透明度*/
    opacity: 0;
    filter: alpha(opacity=0);
    
    /*設定容器動畫週期*/
    -webkit-animation: round 25s linear infinite;
            animation: round 25s linear infinite;
}


/*設定圖片大小隨容器改變*/
.slider_container div img 
{
    /*設定圖片不會超過容器極限*/
    max-height: 100%;  
    max-width: 100%; 

    height: auto;
    width: 100%;
}

/*設定動畫週期事件*/
@keyframes round 
{
    4% /*1s 的時候*/
    {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 0 - 1秒 淡入*/
    }
    20% /*5s 的時候*/
    {
        opacity: 1;
        filter: alpha(opacity=100);
        /* 1- 5秒 靜止*/
    }
    24% /*6s 的時候*/ 
    {
        opacity: 0;
        filter: alpha(opacity=0);
        /* 5- 6秒 淡入*/
    }
}

/*設定每個圖片出現時機*/
.slider_container div:nth-child(1) 
{
    /*圖片一於0秒的時候出現*/
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
}

.slider_container div:nth-child(2) 
{
    /*圖片二於5秒的時候出現*/
    -webkit-animation-delay: 5s;
            animation-delay: 5s;
}

.slider_container div:nth-child(3) 
{
    /*圖片三於10秒的時候出現*/
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
}

.slider_container div:nth-child(4) 
{
    /*圖片四於15秒的時候出現*/
    -webkit-animation-delay: 15s;
            animation-delay: 15s;
}

.slider_container div:nth-child(5) 
{
    /*圖片五於20秒的時候出現*/
    -webkit-animation-delay: 20s;
            animation-delay: 20s;
}

/*設定圖片資訊*/
.pic_info /*圖片資訊*/
{
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100);
    position: absolute;
    top: 400px;
    left: 10%;
}

.pic_info p:nth-child(1) /*圖片資訊標題*/
{
    /*設定字型、字體大小、加粗、上下間隔空白去除*/
    font-family: sans-serif;
    font-size: 45px;
    font-weight:bolder;
    margin: 0%;
} 

.pic_info p:nth-child(2) /*圖片資訊內文*/
{
    /*設定字型、字體大小、加粗*/
    font-family: sans-serif;
    font-size: 24px;
    font-weight:bolder;
} 

.pic_info button /*圖片資訊連結*/
{
    background-color: #e64400;
    color: #fff;
    border: none;
    padding: 15px 32px;
    /*設定字型、字體大小、加粗*/
    font-family: sans-serif;
    font-size: 20px;
    font-weight:bolder;

} 
.navbar /*導覽列*/
{
    /*設定導覽列顏色，並將背景透明度設定為0.5 (設定important 要不然會被預設為light白色)*/
    background-color: rgba(66,36,13,0.9) !important;

    /*設定導覽列位置*/
    position: fixed; /*使其能夠不隨網頁滑動而消失，固定在網頁上方*/
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 2;

    /*設定字型、字體大小、加粗*/
    font-family: sans-serif;
    font-size: 20px;
}

/*運用span把nav字體設定為白色*/
.nav_font_color
{
    color: #fff;
}

/*特別把nav-toggle圖樣設定為白色*/
.nav-link 
{
    color: #fff;
}

/*更動toggle背景顏色*/
.dropdown-menu
{
    background-color: rgba(66,36,13,0.7);
    
}

.card-title
{
    /* Center horizontally*/
    text-align: center;
    /*設定字型、字體大小、加粗*/
    font-size: 24px;
    font-weight:bolder;
}